:root {
    --text-header: 12px;
    --text-dscrtp: 18px;
    --main-red: #ff3333;
    --main-black: #000;
    --main-green: #39ff14;
    --main-white: #fff;
    --poke-blue: #3366ff;
    --poke-yellow: #fcff33;
    --poke-green: #99ff33;
    --poke-red: #ff3366;
    --black-shadow: -0.5px -1.2px 0 var(--main-black);
}

* {
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
    font-family: "AktivGrotesk-Regular", sans-serif;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
}

body {
    background: url(img/bckg.png);
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
}

#main-container {
    height: 100vh !important;
    width: 100vw !important;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 0 !important;
    margin: 0;
    padding: 0;
}

/* -----Others---- */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links:hover {
    cursor: pointer !important;
    color: var(--poke-red);
}

.links-button:hover {
    background-color: var(--main-red) !important;
    color: white;
    cursor: pointer;
}

/* -----End of Others---- */

/* -----Navbar---- */

#top-navbar {
    grid-row: 1 / 2;
    grid-column: 1 / 11;
    background-color: var(--main-red) !important;
    border-bottom: black 0.1em solid;
}

#top-navbar img {
    width: auto;
    height: 95%;
}

#bottom-navbar {
    grid-row: 2 / 3;
    grid-column: 1 / 11;
    background-color: #ffffff !important;
    border-top: black 0.1em solid;
}

#bottom-navbar img {
    width: auto;
    height: 50% !important;
}

/* -----End of Navbar---- */

/* -----Find It---- */

#find_it {
    grid-row: 7 / 10;
    grid-column: 5 / 7;
    align-content: space-around;
    overflow: visible;
    padding: 10px;
}

#find_it button {
    border: none;
    background-color: transparent;
}

.find-email {
    width: 70% !important;
    border: 3px solid var(--main-red) !important;
    outline: 3px solid var(--main-black);
    border-radius: 15px;
    padding: 3%;
    background: var(--main-white);
    color: var(--main-black);
}

/* -----End of Find It---- */

/* -----Pokedex---- */

#middle_container {
    grid-row: 3 / 15;
    grid-column: 7 / 11;
}

#pokedex_container {
    width: 320px;
    height: 450px;
    min-width: 320px;
    min-height: 400px;
    padding: 20px!important;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 12px;
    border: 5px solid var(--main-white) !important;
    outline: 9px solid var(--main-black);
    border-radius: 4% 20% 4% 10%;
    margin: 3%;
    background: var(--main-red);
    box-shadow: 6px 6px 12px #deb100,
}

.poke-image {
    outline: 2px var(--main-black) solid;
    border-radius: 2%;
    background-image: url(img/bckg-img.png);
    background-size: cover;
    box-shadow: 8px 8px 16px #661414, -8px -8px 16px #ff5252;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    /* overflow: hidden; */
}

.carousel {
    top: 20px !important;
}

.carousel-img {
    width: fit-content !important;
    height: auto !important;
}

.poke-name {
    align-items: center !important;
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    font-size: 1.1em;
    text-transform: uppercase;
    color: #fff !important;
    font-weight: 600;
    text-shadow: var(--black-shadow);
}

.poke-id {
    align-items: flex-end !important;
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    font-size: 1em;
    text-transform: uppercase;
    text-shadow: var(--black-shadow);
    ;
    color: #fff !important;
    font-weight: 600;
}

.chevron {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    align-content: space-around;
}

.chevron button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    font-size: 25px;
    border-radius: 50%;
    background: linear-gradient(145deg, #ffffff, #e0e0e0) !important;
    box-shadow: 3px 3px 5px #701616, -3px -3px 5px #ff5050;
    color: var(--main-green)
}

.type {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-shadow: var(--black-shadow);
    overflow: visible;
}

.type-text {
    font-size: 12px !important;
    text-transform: uppercase;
}

.exp {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    text-shadow: var(--black-shadow);
}

.height {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    text-shadow: var(--black-shadow);
}

.weight {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    text-shadow: var(--black-shadow);
}

.dscrpt-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-size: 30px;
}

.dscrpt-2 {
    justify-content: left;
    align-items: flex-end !important;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: var(--text-header);
    font-weight: 900;
    text-transform: uppercase;
}

.dscrpt-3 {
    justify-content: left;
    align-items: flex-start !important;
    font-size: var(--text-dscrtp);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-weight: 650;
}

.poke-button {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    font-size: 20px;
}

.abilities {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    width: 50px;
    height: 50px;
    position: relative;
    top: 20%;
    left: 30%;
    color: var(--main-black);
    background: linear-gradient(145deg, #e6b82e, #ffda37);
    box-shadow: 4px 4px 7px #701616, -5px -5px 11px #ff5050;
}

.moves {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    width: 50px;
    height: 50px;
    position: relative;
    top: 20%;
    left: 30%;
    color: var(--main-black);
    background: linear-gradient(145deg, #33e612, #3dff15);
    box-shadow: 4px 4px 7px #701616, -5px -5px 11px #ff5050;
}

.stats {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
    width: 50px;
    height: 50px;
    position: relative;
    top: 20%;
    left: 30%;
    background: linear-gradient(145deg, #2e5ce6, #376dff);
    box-shadow: 4px 4px 7px #701616, -5px -5px 11px #ff5050;
}

/* -----End of Pokedex---- */

/* -----Modal---- */

.modal {
    width: 300px;
    height: 450px;
    min-width: 300px;
    min-height: 400px;
}

.modal-content {
    width: 300px !important;
    height: fit-content;
    min-width: 300px !important;
    padding: 20px!important;
    border: 5px solid var(--main-white) !important;
    outline: 5px solid var(--main-black) !important;
    border-radius: 15px 60px 15px 30px !important;
    margin: 3%;
    background: var(--main-red) !important;
    box-shadow: 6px 6px 12px #52514f;
    text-shadow: var(--black-shadow);
    text-transform: uppercase;
}

#exampleModal p {
    font-size: 10px;
    font-weight: 500;
    display: flex;
    justify-content: right !important;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

#exampleModal span {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center !important;
    padding: 0;
    margin: 0;
}

#exampleModal h2 {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center !important;
    color: var(--poke-yellow);
    padding: 0;
    margin-top: 15px;
}

#exampleModal h3 {
    font-size: 40px;
    font-weight: 900;
    display: flex;
    justify-content: center !important;
    color: var(--poke-green);
    padding: 0;
    margin-top: 5px;
}

/* -----End of Modal---- */

/* ----Poke Library----- */

#poke_library {
    justify-content: center;
    grid-row: 4 / 11;
    grid-column: 1 / 5;
    width: 100% !important;
    height: 100% !important;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 140px);
    gap: 2%;
    overflow: visible;
}

.ghost {
    width: 100%;
    height: 100%;
    display: grid;
    text-decoration: none;
    cursor: pointer;
}

.lib-title {
    font-weight: 800;
    font-size: 12px;
    color: var(--main-white);
    outline-offset: 2px;
    background: var(--main-red) !important;
    text-shadow: -1px -1px var(--main-black);
    text-transform: uppercase;
    border-radius: 2px 12px 2px 5px;
    border: 2.2px solid var(--main-white) !important;
    outline: 2.2px solid var(--main-black) !important;
}

.ghost img {
    height: 100px;
    width: auto !important;
}

#library_buttons {
    grid-row: 13 / 14;
    grid-column: 1 / 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lib-buttons1 {
    font-size: 15px;
    font-weight: 900;
    padding: 5px;
    margin: 50px 40px;
    color: var(--main-white);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: var(--main-red);
    box-shadow: 2px 2px 4px #52514f;
    text-shadow: var(--black-shadow);
}

.lib-buttons2 {
    font-size: 15px;
    font-weight: 900;
    padding: 5px;
    margin: 20px 40px;
    color: var(--main-black);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: var(--main-white);
    box-shadow: 2px 2px 4px #52514f;
}

@media (max-width: 1200px) {
  #poke_library, #library_buttons {
        display: none;
    }
    #top-navbar img {
        height: 25px;
    }
    #bottom-navbar img {
        height: 25px !important;
    }
    #find_it {
        grid-column: 2 / 10;
        grid-row: 4 / 6;
    }
    #find_it button img {
        height: 40px;
    }
    #middle_container {
        grid-column: 2 / 10;
        grid-row: 6 / 13;
    }
    * {
        overflow: visible;
    }
}

/* -----End of Poke Library---- */

/* ----Footer----- */

footer {
    grid-row: 15 / 16;
    grid-column: 1 / 11;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    color: #ffffff;
    font-size: 0.7em;
    z-index: 2;
}

.social-media i {
    color: #fff;
    font-size: 20px;
}

.by-ll span {
    text-decoration: underline 1px solid white;
    font-weight: 800;
}

.buy-coffe {
    grid-row: 15 / 16;
    grid-column: 1 / 11;
    display: flex;
    justify-content: end;
    z-index: 3;
}

.buy-coffe button {
    background-color: transparent !important;
    border: none
}

.buy-coffe img {
    height: 40px;
    margin: 0px 40px 40px 0px;
}

/* -----End of Footer----- */
